.card-container {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  border: 1px solid grey;
  color: rgb(43, 145, 106);
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  max-width: 250px;
  min-width: 250px;
  margin: 10px;
}

.card-container:hover {
  transform: scale(1.05);
}
